$base-color-button: #16a6af;
$base-color-button-hover: #d6b316;
$base-color-top: #63536c;

.login {
  color: rgba(255, 255, 255, 0.87);

  &__header {
    padding-top: 2.125rem;
    padding-right: 2.625rem;
    padding-bottom: 2.1875rem;
    padding-left: 6.5rem;

    @media screen and (max-width: 700px) {
      padding: 0.875rem;
    }
  }

  &__container-form {
    width: 480px;
    height: 294px;
  }

  &__title {
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.5625rem;
    text-transform: uppercase;

    display: flex;
    justify-content: center;

    background-color: $base-color-top;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $base-color-top;
    background-color: #eae9ebf2;

    input {
      border: 1px solid $base-color-top;
      border-radius: 5px;
    }

    button {
      border-radius: 3px;
      border: 1px solid transparent;
      padding: 0.75rem;

      font-size: 0.875rem;
      font-weight: 500;
      font-family: inherit;
      line-height: 1rem;
      text-transform: uppercase;

      background-color: $base-color-button;
      transition: border-color 0.25s;
      cursor: pointer;
    }

    button:hover {
      border: 1px solid transparent;
      background-color: $base-color-button-hover;
    }

    button:active {
      background-color: $base-color-button-hover;
    }

    button:focus,
    button:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }
}
